
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  margin: 12px 0 16px;
  color: #fd6107;
  }  
/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #1dbfaf;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #ddd;
  text-align: center;
}
.one-col_socials{
  display: flex;
  background-color: #ddd;
  padding: 12px 36px;
  justify-content: space-between;
}
.one-col_socials-icon{
  font-size: 1.8rem;
}
.one-col_socials--facebook{
  color: var(--white-color);
  background-color: #3a5a98;

}


.one-col_socials--facebook
.one-_socials-icon{
  color: var(--white-color);
}